@(startDate: String, endDate: String)
<!doctype html>
<html ng-app="app">
    <head>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
        <link rel="stylesheet" type="text/css" href="@routes.WebJarAssets.at(WebJarAssets.locate("c3.css"))">
        <script src="@reporting.controllers.routes.Assets.at("javascripts/ui-grid.js")"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("c3.min.js"))"></script>
        <link rel="stylesheet" type="text/css" href="@reporting.controllers.routes.Assets.at("stylesheets/ui-grid.css")">
    </head>
    <body>
        <form>
            <input type="hidden" id="startDate" name="startDate" value="@startDate"/>
            <input type="hidden" id="endDate" name="endDate" value="@endDate"/>
        </form>
        <script type="text/javascript" src="@reporting.controllers.routes.Assets.at("javascripts/reportgrid.js")"></script>
        <div ng-controller="ReportView">
            <div>
                <div id="piechart" style="width : 48% ; display : inline-block"></div>
                <div id="barchart" style="width : 48% ; display : inline-block">Cost per Visitor</div>
            </div>
            <div ui-grid="gridOptions" class="grid" ui-grid-resize-columns></div>
        </div>
    </body>
</html>