@(startDate: String, endDate: String)
<!doctype html>
<html ng-app="app">
    <head>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-touch.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))"></script>
        <link rel="stylesheet" type="text/css" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.css"))">
        <link rel="stylesheet" type="text/css" href="@routes.WebJarAssets.at(WebJarAssets.locate("c3.css"))">
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("smart-table.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("c3.min.js"))"></script>
        <link rel="stylesheet" type="text/css" href="@reporting.controllers.routes.Assets.at("stylesheets/ui-grid.css")">
        <style type="text/css">
            .glyphicon-refresh-animate {
                -animation: spin .7s infinite linear;
                -webkit-animation: spin2 .7s infinite linear;
            }

            @@-webkit-keyframes spin2 {
                from { -webkit-transform: rotate(0deg);}
                to { -webkit-transform: rotate(360deg);}
            }

            @@keyframes spin {
                from { transform: scale(1) rotate(0deg);}
                to { transform: scale(1) rotate(360deg);}
            }
        </style>
    </head>
    <body>
        <form>
            <input type="hidden" id="startDate" name="startDate" value="@startDate"/>
            <input type="hidden" id="endDate" name="endDate" value="@endDate"/>
        </form>
        <script type="text/javascript" src="@reporting.controllers.routes.Assets.at("javascripts/lrDragNDrop.js")"></script>
        <script type="text/javascript" src="@reporting.controllers.routes.Assets.at("javascripts/ReportGridApp.js")"></script>
        <script type="text/javascript" src="@reporting.controllers.routes.Assets.at("javascripts/ReportsService.js")"></script>
        <script type="text/javascript" src="@reporting.controllers.routes.Assets.at("javascripts/ReportCtrl.js")"></script>
        <div ng-controller="ReportCtrl as report" style="padding-left: 10px; padding-right: 10px">
            <div id="reportLoading" style="text-align: center; padding-top: 20px" ng-show="report.isLoading" class="container">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading Report...
            </div>
            <div id="report" ng-show="!report.isLoading">
                <div style="text-align: center">
                    <h2>{{report.reportTitle}}</h2>
                    <select ng-model="report.selectedView"
                            ng-show="report.views.length > 0"
                            ng-options="value.uuid as value.label for value in report.views"
                            ng-change="report.reloadForView()">
                    </select>
                </div>
                <div>
                    <div style="width: 48%; display: inline-block" ng-repeat="chart in report.charts">
                        <div ng-if="chart.type == 'Pie'">
                          <bvo-pie-chart id="{{chart.id}}" row-data="report.rows"
                            target-field="{{chart.targetFieldName}}" title="{{chart.label}}" />
                        </div>
                        <div ng-if="chart.type == 'Bar'">
                          <bvo-bar-chart id="{{chart.id}}" row-data="report.rows"
                            target-field="{{chart.targetFieldName}}" title="{{chart.label}}"/>
                        </div>
                    </div>
                </div>
                <table st-table="rowCollection" st-safe-src="report.rows" class="table table-striped">
                    <thead>
                        <tr>
                            <th ng-repeat="col in report.columns" lr-drag-src="headers" lr-drop-target="headers" st-sort="{{col.name}}.val">{{col.display}}</th>
                        </tr>
                        <tr>
                            <th ng-repeat="col in report.columns" ng-visible="col.name == 'Key'">
                                <input st-search="'{{col.search}}'" placeholder="{{col.display}}" class="input-sm form-control" type="search"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rowCollection">
                            <td ng-repeat="col in report.columns">{{row[col.name].display}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td ng-repeat="f in report.footers" style="font-weight: bold">{{f.value}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>
