<html lang="en" ng-app="myUserManagement">
    <head>
        <meta charset="utf-8">
        <title>Bravo</title>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
        <link rel="stylesheet" href='@routes.Assets.at("css/manage.css")'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.min.css"))'>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))'></script>
        <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>
        <script src='@routes.Assets.at("js/usermanagement/services.js")'></script>
        <script src='@routes.Assets.at("js/usermanagement/controllers.js")'></script>
        <script src='@routes.Assets.at("js/usermanagement/app.js")'></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Bravo! <small>uniting billing, reporting, auditing, and more...</small></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" ng-controller="NavCtrl">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class="{ active: isActive('/accounts')}"><a href="#/accounts">Accounts</a></li>
                        <li ng-class="{ active: isActive('/users')}"><a href="#/users">Users</a></li>
                        <li ng-class="{ active: isActive('/permissions')}"><a href="#/permissions">Permissions</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <div ui-view style="padding: 10px">loading...</div>
                </div>
            </div>
        </div>
    </body>
</html>
