<div class="modal-header">
    <h3 class="modal-title">Rename Account</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Label</label>
        <input focus-me="focusInput" ng-enter="ok()" type="text" class="form-control" ng-model="formData.label" placeholder="Rename account label here."/>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">Rename</button>
</div>
